body {
    backgroungd-color:#015d77;
    color: rgb(29, 29, 78);
}
    
    .cabecalho {
        background-color: #001cb8;
        color: rgb(102, 68, 196);
        display:flex;
        justify-content: space-around;

        }








